/*
 * Luna Front-end Framework
 ~ Author: Andromeda08
 */

// Inlude other .less files
@import '_reset';
@import '_fonts';
@import '_typography';
@import '_colors';
@import '_syntax';
@import '_utility';
// Theme
@import '_variables';
// Settings
@main-font: 'Nunito', sans-serif;
@code-font: 'Roboto Mono', monospace;
// Defaults
*, *::before, *::after { box-sizing: border-box; }
html, body, h1, h2, h3, h4, h6, h6, p { margin: 0; padding: 0; }
// Base Styles
html { scroll-behavior: smooth; }
body {
    font-family: @main-font;
    font-size: #font-size[sm];
    font-weight: 400;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
}
// Chrome
input:focus, textarea:focus, select:focus{
  outline: none;
}
// Layout
.container {
  padding-block: 3rem;
}
.container-p2 {
  .container;
  margin-inline: 2rem;
}
.container-p4 {
  .container;
  margin-inline: 4rem;
}
.container-p8 {
  .container;
  margin-inline: 8rem;
}
// Flex
.flex { display: flex; }
.flex-nowrap { flex-wrap: nowrap; }
.flex-wrap { flex-wrap: wrap; }
.flex-row { flex-direction: row; }
.flex-col { flex-direction: column; }
.justify-content-center { justify-content: center; }
.align-items-center { align-items: center; }
.flex-g2 { gap: 2rem; }
// Layout
.flex-center {
  .flex;
  .justify-content-center;
  .align-items-center;
}
.flex-middle {
  .flex;
  .justify-content-center;
}
.flex-split {
  .flex;
  .flex-row;
  gap: 1rem;
}
.flex-split > * {
  flex-basis: 100%;
}
// Margin Classes
.ma-l-sm { margin-left: #font-size[sm]; }
.ma-l-md { margin-left: #font-size[md]; }
.ma-l-lg { margin-left: #font-size[lg]; }
.ma-l-xl { margin-left: #font-size[xl]; }
.ma-l-xxl { margin-left: #font-size[xxl]; }
.ma-l-a { margin-left: auto; }
.ma-r-sm { margin-right: #font-size[sm]; }
.ma-r-md { margin-right: #font-size[md]; }
.ma-r-lg { margin-right: #font-size[lg]; }
.ma-r-xl { margin-right: #font-size[xl]; }
.ma-r-xxl { margin-right: #font-size[xxl]; }
.ma-r-a { margin-right: auto; }
.ma-a { margin-inline: auto; }
// Text Classes
.muted { color: #gray[500]; }
.no-decoration { text-decoration: none !important;}
.text-center { text-align: center; }
.lh-sm { line-height: #line-height[sm]; }
.lh-md { line-height: #line-height[md]; }
.lh-lg { line-height: #line-height[lg]; }
// Background Classes
.bg-white { background-color: #ffffff !important; }
.bg-primary { background-color: #theme-colors[primary]; }
.bg-secondary { background-color: #theme-colors[secondary]; }
.bg-accent { background-color: #theme-colors[accent]; }
.bg-light { background-color: #theme-colors[light]; }
.bg-dark { background-color: #theme-colors[dark]; }
.bg-success { background-color: #theme-colors[success]; }
.bg-warning { background-color: #theme-colors[warning]; }
.bg-danger { background-color: #theme-colors[danger]; }
// Navigation
.luna-navbar {
  background: #theme-colors[primary];
}
.navbar {
  position: relative;
  display: flex;
  align-items: center;
}
.nav-container {
  width: 100%;
  padding-block: 0.75rem;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-container-p2 { .nav-container; padding-inline: 2rem; }
.nav-container-p4 { .nav-container; padding-inline: 4rem; }
.nav-container-p8 { .nav-container; padding-inline: 8rem; }
.navbar-collapse {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
  align-items: center;
}
.navbar-nav {
  display: flex;
  list-style: none;
}
.navbar .nav-item {
  display: inline-block;
  position: relative;
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
}
.navbar .nav-link {
  color: rgba(255,255,255,0.85);
  text-decoration: none;
  vertical-align: middle;
}
.navbar .nav-link:hover { color: #basic[white]; }
.navbar .active {
  color: #fff !important;
  font-weight: 700;
}
.navbar i { font-size: #font-size[md]; }
.navbar .navbar-logo { margin-inline: 0.5rem; }
.navbar .navbar-logo img {
  width: 34px;
  height: 34px;
}
//* Docs
.docs { background: #gray[50]; }
.docs-container {
  padding: 0;
  padding-inline: 8rem;
  height: calc(100vh - 65px);
  .flex-center;
  .flex-row;
}
@media only screen and (min-width: 1400px) {
  .docs-container {
    padding-inline: 20rem;
  }
}
.docs-sidebar {
  .flex;
  .flex-col;
  align-items: flex-start;
  overflow-x: hidden;
  height: calc(100vh - 65px);
  width: 240px;
  padding-block: 3rem;
  padding-inline: 1rem;
}
.docs-item { width: 100%; }
.docs-sidebar ul { list-style: none; }
.docs-sidebar a { .no-decoration; }
.docs-item-category {
  text-align: left;
  border: none;
  outline: none;
  background: transparent;
  display: block;
  width: 100%;
  font-weight: 600;
  font-size: 1rem;
  color: #gray[700];
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.docs-item-category:hover {
  transition: ease-in-out 150ms;
  background: #6752b333;
  border-color: #6752b333;
}
.docs-show { display: inline-block !important; }
.docs-hide { display: none; }
.docs-sidebar-submenu a {
  font-weight: 400;
  color: #gray[600];
}
.docs-sidebar-submenu > li {
  .ma-l-md;
  padding: 0.35rem 0.75rem;
  cursor: pointer;
}
.docs-sidebar-submenu li a:hover {
  transition: ease-in-out 150ms;
  color: #8d75e2;
}
.docs-content {
  width: 100%;
  height: calc(100vh - 65px);
  overflow-y: scroll;
}
.docs-content a{
  color: #gray[900];
}
.docs-code {
  line-height: 1;
  padding-inline: 1.25rem;
  padding-block: 0.75rem;
  margin-block: 0.25rem;
  background: #gray[100];
  border: 1px solid transparent;
  border-radius: 12px;
}
.docs-examples { .docs-code; }
.docs-examples > * { margin-inline: 0.5rem; }
// Footer
footer { background: #gray[100]; }
footer ul { list-style: none; }
footer li { display: inline-block; }
footer p {
  .muted;
  font-size: #font-size[tn];
}
footer a {
  .ma-r-sm;
  color: #gray[800];
}
// Buttons
.btn {
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 0.35rem 0.75rem;
}
.btn-sm { padding: 0.1rem 0.2rem; }
.btn-md { padding: 0.35rem 0.75rem; }
.btn-lg {
  padding: 0.5rem 1rem;
  font-size: #font-size[lg];
}
.btn-xl {
  padding: 0.75rem 1.35rem;
  font-size: #font-size[lg];
}
.btn-primary {
  color: white !important;
  background: #theme-colors[primary];
  border: 1px solid #theme-colors[primary];
  font-weight: 500;
}
.btn-primary:hover {
  transition: ease-in-out 150ms;
  background: #theme-colors[primary-darker];
}
.btn-secondary {
  color: #gray[500];
  border: 1px solid #theme-colors[secondary];
  font-weight: 500;
}
.btn-secondary:hover {
  transition: ease-in-out 150ms;
  background: #theme-colors[secondary];
  color: #fff;
}
.btn-light {
  color: #theme-colors[dark];
  background: #theme-colors[light];
  border: 1px solid #theme-colors[light];
  font-weight: 500;
}
.btn-light:hover {
  transition: ease-in-out 150ms;
  background: #theme-colors[light-darker];
  color: #theme-colors[light];
}
.btn-dark {
  color: #fff !important;
  background: #theme-colors[dark];
  border: 1px solid #theme-colors[dark];
  font-weight: 500;
}
.btn-dark:hover {
  transition: ease-in-out 150ms;
  background: #theme-colors[dark-lighter];
}
// Badges
.badge {
  display: inline-block;
  padding: 0.5rem;
  font-size: 0.85rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: white;
}
.pill { border-radius: 50rem !important; }
.badge.bg-light { color: #theme-colors[dark]; }
.badge.bg-dark { color: #fff; }
// Input
input {
  .lh-md;
  font-size: #font-size[sm];
  color: #gray[800];
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #gray[300];
  border-radius: 0.25rem;
  padding: 0.35rem 0.75rem;
}
// Code Sections
div.code {
  width: fit-content;
  height: fit-content;
  padding-inline: 1.25rem;
  padding-block: 0.75rem;
  margin-block: 0.25rem;
  background: #gray[100];
  border: 1px solid transparent;
  border-radius: 12px;
}
// Heading Elements
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.25rem;
}
h1, .h1 { font-size: 2.5rem; font-weight: 600; }
h2, .h2 { font-size: 2rem; }
h3, .h3 { font-size: 1.75rem; }
h4, .h4 { font-size: 1.5rem; }
h5, .h5 { font-size: 1.25rem; }
h6, .h6 { font-size: 1rem; }
// Font Sizes
.sm { font-size: #font-size[sm]; }
.md { font-size: #font-size[md]; }
.lg { font-size: #font-size[lg]; }
.xl { font-size: #font-size[xl]; }
.xxl { font-size: #font-size[xxl]; }
// Luna Theme
body.luna {
  background: linear-gradient(165deg, rgba(224,216,255,0.15) 50%, rgba(255,255,255,1) 50%);
  background-repeat: no-repeat;
}
main.luna {
  .flex;
  .flex-col;
  .justify-content-center;
  .align-items-center;
  height: calc(70vh - 65px);
}
p.luna {
  font-weight: 800;
  font-size: 3.5rem;
}
img.moon {
  width: 10rem;
  height: 10rem;
}
main div { padding-block: 0.5rem; }
.btn-luna-download {
  color: #theme-colors[accent];
  border: 1px solid #theme-colors[accent];
  border-radius: 0.25rem;
  font-weight: 600;
}
.btn-luna-download:hover {
  transition: ease-in-out 150ms;
  background: #theme-colors[accent];
  color: #theme-colors[primary];
}
